.footer {
  background-color: var(--dark-color);

  .container {
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--light-color);
  }

  &__logo-link {
    max-width: max-content;
    margin-bottom: 8px;
    display: block;
    font-size: 0;
  }

  &__coppy {
    font-family: "TTFirsNeue", sans-serif;
    font-size: 14px;
  }

  &__descr {
    margin: 0;
    padding: 0;
    max-width: 360px;
    margin-right: 130px;
    line-height: 22px;
  }

  &__more {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .more {

    &__text {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }

    &__social {
      padding: 0;
      display: flex;
      gap: 20px;
      font-size: 0;
    }

    &__social-link {
      outline: none;
      color: #cacaca;
      transition: color .5s;

      &:focus-visible {
        color: var(--orange-color);
      }

      &:hover {
        color: var(--light-orange-color);
      }

      &:active {
        color: var(--dark-orange-color);
      }
    }
  }
}

@include tablet {
  .footer {
    &__descr {
      margin-right: -63px;
    }

    &__logo-link {
      padding-top: 5px;
    }

    &__icon {
      width: 166px;
      height: 26.787px;
    }
  }
}

@include small-tablet {
  .footer__descr {
    display: none;
  }
}

@include mobile {
  .footer {

    .container {
      position: relative;
      height: 185px;
      padding-top: 33px;
      padding-bottom: 32px;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }

    .footer__more {
      gap: 7px;
    }

    &__logo {
      position: absolute;
      top: 124px;
      left: 0;
      right: 0;
      display: flex;
      padding: 0 var(--container-offset);
      padding-top: 9px;
      padding-bottom: 14px;
      flex-direction: column;
      background-color: #4a4a4a;
      align-items: center;

      .footer__logo-link {
        margin-bottom: 5px;
      }

      .footer__icon {
        width: 111px;
        height: 18px;
      }

      .footer__coppy {
        font-size: 10px;
      }
    }
  }
}
