.header {
  background-color: #202020;

  .nav__btn {
    display: none;
  }

  .nav__phone {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__logo {
    font-size: 0;
  }

  &__nav {
    margin-right: 54px;
  }

  &__search-btn {
    padding: 0;
    font-size: 0;
  }

  &__search-btn--active {
    visibility: hidden;
  }

  &__close-search {
    position: relative;
    width: 20px;
    height: 18px;
    border-radius: 10px;
    background: #808080;
    cursor: pointer;
  }

  &__close-search::after,
  &__close-search::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 4.2px;
    width: 10px;
    height: 1px;
    background-color: var(--light-color);
  }


  &__close-search::before {
    transform: rotate(45deg);
  }

  &__close-search::after {
    transform: rotate(-45deg);
  }

  &__search {
    position: absolute;
    z-index: 1000;
    right: var(--container-offset);
    width: 320px;
    display: flex;
    gap: 10px;
    align-items: center;
    visibility: hidden;
    transform: translateY(-350px);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .5s ease-in-out;
  }

  &__search--active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

  &__search-input {
    padding-left: 10px;
    width: 100%;
    background-color: #202020;
    border-bottom: 1px solid var(--light-color);
    color: var(--light-color);

    &::placeholder {
      color: var(--light-color);
    }

    &:focus-visible {
      border-color: var(--orange-color);
    }

    &:hover {
      border-color: var(--light-orange-color);
    }

    &:active {
      border-color: var(--dark-orange-color);
    }
  }
}

.nav__list {
  display: flex;
  gap: 79px;
  font-family: "TTFirsNeue", sans-serif;
  color: var(--light-color);
}

.nav__link {
  position: relative;
  z-index: 100;
  outline: none;
  transition: color .5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    z-index: -1;
    background-color: var(--orange-color);
    opacity: 0;
    transition: opacity .5s;

  }

  &:focus-visible {
    color: var(--light-color);

    &:focus-visible::before {
      opacity: 1;
    }
  }

  &:hover {
    color: var(--light-orange-color);
    &:hover::before {
      opacity: 0;
    }
  }

  &:active {
    color: var(--dark-orange-color);
  }
}

@include tablet {

  :root {
    --content-width: 1088px;
    --container-offset: 31px;
  }

  .header {

    &__wrapper {
      padding-top: 27px;
      padding-bottom: 26px;
    }

    &__icon {
      width: 166px;
      height: 26.787px;
    }

    &__nav {
      margin-right: 54px;
    }

    &__search-input {
      right: 65px;
    }

    .nav__list {
      gap: 33px;
    }
  }
}

@include small-tablet {

  :root {
    --content-width: 714px;
    --container-offset: 27px;
  }

  .header {

    &__search-input {
      right: 60px;
      padding-top: 0;
      max-width: 308px;
    }

    &__wrapper {

      .header__nav {
        position: absolute;
        padding-top: 14px;
        padding-bottom: 14px;
        margin: 0;
        top: 79px;
        left: 0;
        right: 0;
        background-color: #4a4a4a;
      }

      .nav__list {
        margin: 0 auto;
        padding: 0 var(--container-offset);
        max-width: var(--container-width);
        justify-content: space-between;
      }
    }
  }
}

@include mobile {

  :root {
    --content-width: 598px;
    --container-offset: 21px;
  }

  .header {

    &__wrapper {
      position: unset;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &__search-btn {
      width: 20px;
      height: 20px;
    }

    &__icon {
      width: 111.54778px;
      height: 18px;
    }

    .nav__burger {
      display: block;
    }

    .header__nav {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      padding: 0 var(--container-offset);
      padding-top: 14px;
      padding-bottom: 13px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1000;
      background-color: #4a4a4a;
    }

    .nav__list {
      display: none;
      padding: 0;
      margin: 0;
      padding-top: 16px;
      flex-direction: column;
      gap: 30px;

    }

    .nav__burger-close {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 10px;
      background: #808080;
      cursor: pointer;
    }

    .nav__burger-close::after,
    .nav__burger-close::before {
      content: "";
      position: absolute;
      top: 9px;
      right: 4.2px;
      width: 10px;
      height: 1px;
      background-color: var(--light-color);
    }


    .nav__burger-close::before {
      transform: rotate(45deg);
    }

    .nav__burger-close::after {
      transform: rotate(-45deg);
    }

    .nav__btn {
      display: block;
      padding: 0;
      margin: 0;
      color: #808080;
      transition: color .5s;

      &:focus-visible {
        color: var(--orange-color);
      }

      &:hover {
        color: var(--light-orange-color);
      }

      &:active {
        color: var(--dark-orange-color);
      }

      .nav__burger-close {
        display: none;

      }
    }

    .nav__btn--active {
      .nav__burger {
        display: none;
      }

      .nav__burger-close {
        display: block;
      }

    }

    .header__nav--active {
      max-height: calc(100vh - 70px);
      height: 100%;
      padding-bottom: 36px;
      background-color: #202020;

      .nav__list {
        display: flex;
      }

      .nav__phone {
        display: flex;
        align-items: center;
        color: #FF6E30;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .nav__phone-icon {
        width: 22px;
        height: 22px;
      }
    }

    &__search {
      justify-content: end;
    }

    &__close {
      width: 20px;
      height: 20px;
    }

    &__search-input {
      max-width: 250px;
    }
  }
}
