<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <a class="footer__logo-link" href="#" >
        <img class="footer__icon" src="img/svg/logo.svg" alt="Логотип компании High pass">
      </a>
      <p class="footer__coppy">Фотостудия High pass® 2018–2020</p>
    </div>
    <blockquote class="footer__descr">Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.
      ©&nbsp;Имоджен Каннингем</blockquote>
    <div class="footer__more more">
      <h3 class="more__text">Больше интересного:</h3>
      <ul class="more__social">
        <li>
          <a class="more__social-link" href="#">
            <svg class="more__icon" width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#od"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="more__social-link" href="#">
            <svg class="more__icon" width="30" height="30" viewBox="0 0 30 30" fill="black" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
