<header class="header">
  <div class="header__wrapper container">
    <a class="header__logo" href="#" >
      <img class="header__icon" src="img/svg/logo.svg" alt="Логотип компании High pass">
    </a>
    <nav class="header__nav nav" data-menu>
      <div>
        <button class="nav__btn btn-reset" data-burger>
          <svg class="nav__burger" xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
            <rect width="20" height="2" fill="white"/>
            <rect y="8" width="20" height="2" fill="white"/>
            <rect y="16" width="10" height="2" fill="white"/>
          </svg>
          <span class="nav__burger-close" ></span>
        </button>
        <ul class="nav__list list-reset">
          <li class="nav__item"><a class="nav__link" data-menu-item href="#about">О студии</a></li>
          <li class="nav__item"><a class="nav__link" data-menu-item href="#project">Наши проекты</a></li>
          <li class="nav__item"><a class="nav__link" data-menu-item href="#services">Услуги</a></li>
          <li class="nav__item"><a class="nav__link" data-menu-item href="#master">Мастер-классы</a></li>
          <li class="nav__item"><a class="nav__link" data-menu-item href="#contacts">Контакты</a></li>
        </ul>
      </div>
      <a class="nav__phone" href="tel:+749542423532">
        <img class="nav__phone-icon" src="img/svg/call-icon.svg" alt="Иконка телефонной трубки">
        +7 495 424-23-532
      </a>
    </nav>
    <label class="header__search" data-input>
      <input class="header__search-input input-reset" type="text" name="search" placeholder="Что будем искать?">
      <span class="header__close-search" data-search-close></span>
    </label>
    <button class="header__search-btn btn-reset" data-search-open>
      <img class="header__search-icon" width="25" height="25" src="img/svg/search-icon.svg" alt="иконка лупы">
    </button>
  </div>
</header>
