// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto" , sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --orange-color: #bc572b;
  --light-orange-color: #ff6e30;
  --dark-orange-color: #ce4307;
  --magenta-color: #ff3030;
  --light-magenta-color: #f06666;
  --bierge-color: #ffd4c1;
  --light-color: #fff;
  --dark-color: #202020;
}
